<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tituloPagina}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script src="public/js/admin.js" defer></script>
        <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

 <header class="topo flex container-padding">
        <img src="/images/pizza-dev.png" alt="Pizza DEV" />
        <nav class="menu">
            <a href="/admin/pizzas">Pizzas</a>
            <a href="/admin/mensagens">Mensagens</a>
            <a href="/admin/usuarios">Usuários</a>
            <a href="/logout">Sair</a>
        </nav>
    </header>

    <div>
        {{{body}}}
    </div>
    <script src="public/js/main.js"></script>
    <script>
        const tabela = document.querySelector("table");
tabela.addEventListener("click", (event) => {
    let isBotaoExcluir = event.target.classList.contains("btn-excluir");
    if (isBotaoExcluir && !confirm("Tem certeza que deseja excluir este item?")) {
        event.preventDefault();
    }

    
});
    </script>

</body>



</html>