<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Editar Usuario</h1>

  <form action="/admin/users/{{user.dataValues.id}}" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="{{user.dataValues.nomeCompleto}}" required>

    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" value="{{user.dataValues.usuario}}" required>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required>

    <label for="confirmarSenha">Confirmar Senha:</label>
    <input type="password" id="confirmarSenha" name="confirmarSenha" required>

    <button type="submit">Save</button>
  </form>
</body>
</html>