<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PizzaDev - Página Principal</title>
</head>
<body>
  <h1>Bem-vindo ao PizzaDev</h1>
  
  <h2>Lista de Pizzas Disponíveis:</h2>
  <ul>
    {{#each pizzas}}
      <li>{{this.name}} - {{this.description}} - R$ {{this.price}}</li>
    {{/each}}
  </ul>
  
  <a href="/admin">Acesso Administrativo</a>
</body>
</html>